page-user-points {

    .points-header{
        font-size: 22px;
        margin-top: 3vh;
    }
    .points{
        width: 80%;
        text-align: center;
        
        margin: 12vh auto auto auto;
        font-size: 40px;
        border-radius: 15px;
        box-shadow: 0 1px 6px 0px grey;
    }
}
