ion-header{
    .toolbar-title-md {
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
    }
}

page-manager-home {

    ion-item{
        border-radius: 15px !important;
        padding: 12px !important;
        box-shadow: 0 0 1px 1px grey !important;
        margin-bottom: 12px !important;
    }
}
