<ion-header no-border text-center>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon color="primary" name="ios-menu-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <img src="assets/imgs/logo.png">
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content no-padding scrollY="false">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="cardItem" *ngFor="let order of order_data; let i = index">
    <ion-item class="OneItem" (click)="goToOrderDet(order)">
      <img *ngIf="order.customerImage == 'undefined'" src="assets/imgs/signup_female.png" item-left />
      <img *ngIf="order.customerImage != 'undefined'" [src]="order.customerImage" item-left />
      <div class="MarketInfo">
        <p>{{'Name' | translate}}: {{ order.customerName }}</p>
        <p>
          <span>{{'TotalCost' | translate}}: {{ order.totalPrice }} {{'LE' | translate}}</span>
        </p>
      </div>
    </ion-item>
    <div class="interaction" item-right>
      <button ion-button clear icon-only small (click)="onCallClicked(order.customerPhone)">
        <ion-icon color="white" name="call">
        </ion-icon>
      </button>
      <button ion-button clear icon-only small (click)="onLocationClicked(order.lat, order.long)">
        <ion-icon color="white" name="pin"> </ion-icon>
      </button>
    </div>
  </ion-card>

  <!-- <button ion-button (tap)="openWallet()"></button> -->

  <!-- <ion-list *ngIf="ready" class="orders-list">
        <ion-item *ngFor="let item of  orders" (tap)="toDetails(item)">
            <div class="order-address">Address : {{item.address}}</div>
            <div class="order-date-time">Order Time :  {{item.orderDate  | date :'shortTime' }}</div>
            <div class="order-date-day">Order Day :  {{item.orderDate  | date :'shortDate' }}</div>
        </ion-item>
    </ion-list> -->
  <!-- <button ion-button (click)="openWallet()">waleet</button> -->


  <div *ngIf="!order_data.length" class="no-order">
    <img src="./assets/imgs/empty_white.png">
    <h4>{{'NoOrdersAssignedToYou' | translate}}</h4>
  </div>

  <div *ngIf="ready">





  </div>
  <!-- <ion-fab bottom right (click)="logOut()">
    <button ion-fab>
      <ion-icon color="third" name="log-out"></ion-icon>
    </button>
  </ion-fab> -->


</ion-content>