<ion-header>
    <ion-navbar>
            <button ion-button class="logout-button" (tap)="logOut()" ><ion-icon name="ios-log-out-outline" ></ion-icon></button>

            <div class="logo-container">
                <img  src="assets/imgs/logo.png">
            </div>

    </ion-navbar>
</ion-header>

<ion-content padding scrollY="false" >
    <!-- <ion-list *ngIf="ready" class="orders-list">
        <ion-item *ngFor="let item of  orders" (tap)="toDetails(item)">
            <div class="order-address">Address : {{item.address}}</div>
            <div class="order-date-time">Order Time :  {{item.orderDate  | date :'shortTime' }}</div>
            <div class="order-date-day">Order Day :  {{item.orderDate  | date :'shortDate' }}</div>
        </ion-item>
    </ion-list> -->

    <div *ngIf="ready">

        <div class="customer-container">
      <div class="info-container">
        <div class="customer-name">{{order.customerName}}</div>
        <div class="customer-phone">{{order.customerPhone}}</div>
      </div>
        <div class="call-button-container"><button class="call-button" ion-button icon-only (tap)="makeCall()"><ion-icon class="call-icon" name="md-call"></ion-icon></button></div>
      </div>

  <ion-list class="item-list">
    <ion-item class="item-container" *ngFor="let item of orderItems">
      <div class="name">{{item.productName}}</div>
      <div class="price">{{item.cost}} LE</div>
    </ion-item>
  </ion-list>
  <div class="total-price">Total Price : {{order.totalPrice}} LE</div>
  <div class="address">
    address : {{order.address}}
  </div>
  
  <div  *ngIf="order.orderStatusId == '1' "  class="change-status-container">
    <button ion-button (tap)="changeStatus()">Accept</button>
  </div>

  <div *ngIf="order.orderStatusId == '3' " class="change-status-container">
    <button ion-button (tap)="changeStatus()">Arrived</button>
  </div>
  
  <div *ngIf="order.orderStatusId == '5' " class="change-status-container">
    <button ion-button class="status-button" (tap)="changeStatus()">Done</button>
  </div>
  
    </div>
</ion-content>
