<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="primary" name="ios-menu-outline"></ion-icon>
    </button>

    <ion-title>
      <img src="assets/imgs/logo.png">
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content no-padding scrollY="false">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    
  </ion-card>
  <!-- <ion-list *ngIf="ready" class="orders-list">
        <ion-item *ngFor="let item of  orders" (tap)="toDetails(item)">
            <div class="order-address">Address : {{item.address}}</div>
            <div class="order-date-time">Order Time :  {{item.orderDate  | date :'shortTime' }}</div>
            <div class="order-date-day">Order Day :  {{item.orderDate  | date :'shortDate' }}</div>
        </ion-item>
    </ion-list> -->
  <div *ngIf="!ready" class="no-order">
    <img src="./assets/imgs/empty_white.png">
    <h4>{{'NoOrdersAssignedToYou' | translate}}</h4>
  </div>

  <div *ngIf="ready">





  </div>
  <ion-fab bottom right (click)="logOut()">
    <button ion-fab>
      <ion-icon color="third" name="log-out"></ion-icon>
    </button>
  </ion-fab>


</ion-content>