<ion-content class="bg-color" padding>
    <div padding>
        <div class="logo bg-white fadeInUp animated delay-1" text-center>
            <figure class="Header-Name"> <img src="assets/imgs/logo.png"></figure>
        </div>
        <div class="form-container">
            <form [formGroup]="loginForm" (ngSubmit)="onSignin()">
                <div class="difault-form">

                    <ion-list>
                        <ion-item class="fadeInUp animated delay-3">
                            <ion-input formControlName="userName" type="text" placeholder="Username"></ion-input>
                        </ion-item>
                        <div class="error-box"
                            *ngIf="loginForm.controls['userName'].hasError('required') && loginForm.controls['userName'].touched">
                            *
                            Username is required.</div>
                        <ion-item class="fadeInUp animated delay-4">
                            <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
                            <!-- <small class="password">Forgot?</small> -->
                        </ion-item>
                        <div class="error-box"
                            *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                            *
                            Password is required. </div>
                        <div class="error-box"
                            *ngIf="loginForm.controls['password'].hasError('minlength') && loginForm.controls['password'].touched">
                            *
                            Password cannot be less than 6 digits.</div>

                        <!-- <small class="password fadeInUp animated delay-5" (click)="password()">Forgot?</small> -->
                        <br>
                        <button ion-button full class="btn bg-theme fadeInUp animated delay-6 login-button">Sign
                            in</button>
                    </ion-list>
                </div>
            </form>
        </div>
    </div>
</ion-content>