
<ion-header no-border text-center>
    <ion-navbar>
    </ion-navbar>
  </ion-header>
  

<ion-content class="bg-color" padding>
   
    <div padding>
        <div class="appLogo bg-white fadeInUp animated delay-1" text-center>
            <figure class="Header-Name"> <img src="assets/imgs/logo.png"></figure>
        </div>
        <div class="form-container">
            <form [formGroup]="loginForm" (ngSubmit)="onSignin()">
                <div class="difault-form">

                    <ion-list>
                        <ion-item class="fadeInUp animated delay-3">
                                <ion-icon name="mail" item-start></ion-icon>
                            <ion-input formControlName="userName" type="text" placeholder="{{'Username' | translate}}">
                            </ion-input>
                        </ion-item>
                        <div class="error-box"
                            *ngIf="loginForm.controls['userName'].hasError('required') && loginForm.controls['userName'].touched">
                            * {{'Usernameisrequired' | translate}}</div>
                        <ion-item class="fadeInUp animated delay-4">
                                <ion-icon name="lock" item-start></ion-icon>
                            <ion-input formControlName="password" type="password"
                                placeholder="{{'Password' | translate}}"></ion-input>
                            <!-- <small class="password">Forgot?</small> -->
                        </ion-item>
                        <div class="error-box"
                            *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                            * {{'Passwordisrequired' | translate}} </div>
                        <div class="error-box"
                            *ngIf="loginForm.controls['password'].hasError('minlength') && loginForm.controls['password'].touched">
                            * {{'Passwordcannotbelessthan6digits' | translate}}</div>

                        <!-- <small class="password fadeInUp animated delay-5" (click)="password()">Forgot?</small> -->
                        <br>
                        <button ion-button full [disabled]="!loginForm.valid"
                        class="btn bg-theme fadeInUp animated delay-6 login-button" (tap)="onSignin()">{{'Signin' | translate}}</button>
                    </ion-list>
                    <!-- <p class="text-white fadeInUp animated delay-7" text-center>{{'Newuser' | translate}} <span
                            (click)="signup()">
                            {{'RegisterNow' | translate}}</span></p> -->

                </div>
            </form>
        </div>
    </div>
</ion-content>