page-signin {
     .item-inner {
        margin-left: 0px !important;
        padding:0px !important;
    }

    h2.heading {
        position: relative;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: .5px;
        margin-top: 0;
        margin-bottom: 33px;

        &::before {
            content: '';
            position: absolute;
            width: 60px;
            height: 2px;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto 0;
            background: #ec008c;
        }

        &::after {
            content: '';
            position: absolute;
            width: 60px;
            height: 2px;
            display: block;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto 0;
            background: #ec008c;
        }
    }

    p {
        margin-top: 30px;
        font-weight: 300;
        letter-spacing: .5px;
        color: white !important;

        span {
            font-weight: 500;
        }
    }

    .password-toggle {
        position: absolute;
        right: 4px;
        bottom: 17px;
        color: white;
        width: 50px;
        font-size: 13px !important;
    }

    .loginUsingFb {
        display: block;
        margin: auto;
        margin-top: 15vh;

        .icon {
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .Header-Name {
        color: white;
        margin: 0;
        font-size: 3rem;
        margin-top: 15vh;

        img {
            width: 148px;
            height: 142px;

        }
    }

    .form-container {

        .password {
            color: #fff !important;
            text-align: center !important;
            position: initial !important;
            margin-top: -5px;
        }

    }

    .login-button {
        width: 60%;
        margin: auto !important;
        margin-top: 30px !important;
        border-radius: 30px !important;
        background-color: color($colors, ternary);
    }

    ion-input {
        background-color: transparent;
        color: #fff;
    }

    .password-item-container {
        position: relative;
    }

    .difault-form .list .item-input {
        border-bottom: 1px solid #424242 !important;
        min-height: 5rem;
        width: 90% !important;
        margin: auto !important;


        ::placeholder {
            color: white;
            // font-weight: bold;
            font-size: 16px;

            @include ltr {
                text-align: left;
            }

            @include rtl {
                text-align: right;
            }
        }

        .icon {
            color: #fff !important;
            font-size: 15px !important;
            margin-top: 18px;
            margin-bottom: -7px !important;
            margin-right: 0px;

        }
    }

    .difault-form .list .item-block .item-inner {
        background-color: transparent;

    }

    .error-box {
        color: color($colors, danger, base);
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-weight: bold;
        text-align: center;
        margin-top: 2px;
    }

    .text-white {
        margin-top: 10vh;
    }




}