//auto complete style
//menu
.menu-container {
        background-color: #303030 !important;
    
    
}

ion-navbar {
    @include ltr() {
        direction: ltr;
    }

    @include rtl() {
        direction: rtl;
    }
}

.loading-md .loading-wrapper,
.loading-ios .loading-wrapper {
    background: transparent;
    box-shadow: none;
}

.action-sheet-icon {
    @include ltr {
        margin: -2px 10px 0 0 !important;
    }

    @include rtl {
        margin: -2px 0px 0 10px !important;
    }
}

ion-icon {
    &[class*="custom-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }

    &[class*="custom-camera"] {
        mask-image: url(../assets/imgs/camera.svg);
    }
}

.back-button {
    color: color($colors, primary);
}

.logo-container {
    width: 50%;
    margin: auto;

    .logo {
        width: 100%;
    }
}

.menu-list {
    background-color: transparent;
    margin-top: 15px !important;
}



.info-container {
    height: 26vw;
    padding: 3vh 0 0 0vw;
    text-align: center;

    .name-container {
        font-size: 17px;
        font-weight: 600;
        color: white;
        text-align: center;
        margin-top: 5px;
    }
}

.list-ios>.item-block:first-child {
    border-top: 0px;
}


.menu-item {
    text-align: center;
    background-color: transparent;
    color: color($colors, primary);
}



.user-img {
    height: 65px !important;
    width: 65px !important;
    margin: auto;
    display: block;
    margin-top: 55px;
    border-radius: 50% !important;
    margin-left: 20px;
    margin-right: auto;
}


.userContainer {
    display: flex;
}



//Text Color
.text-white {
    color: #fff !important;
}

.text-theme {
    color: #ec008c !important;
}

.bg-img {
    background: url(../assets/imgs/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-color {
    background-color: #050505;
}

ion-header {
    box-sizing: unset !important;


    .title {
        position: absolute;
        left: 50% !important;
        top: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 100%;
        text-align: center;
        font-weight: bold !important;
        right: inherit !important;

        img {
            width: 50px;
        }
    }
}


// ion-title {
//     position: absolute;
//     left: 50%;
//     top: 0;
//     transform: translateX(-50%);
//     height: 100%;
//     width: 70%;
//     text-align: center;
//     font-weight: bold !important;
// }



.bg-theme {
    background: #ec008c;
}

.btn {
    border-radius: 5px;
    height: 45px;
    text-transform: unset;
}

.logo {
    height: 13vh;
    position: relative;

    /* margin-bottom: 30px; */
    figure {
        margin: 0;

        img {
            width: 170px;
            height: 170px;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

.menu-list {
    margin-top: 20% !important;
    background-color: #303030 !important;

    .item {
        min-height: 50px;
        height: 50px;
        color: transparent !important;
        border-top: none;
        border-bottom: none;
        background-color: transparent !important;
    }

    .item-inner {
        border-top: none !important;
        border-bottom: none !important;
    }


    span {
        position: relative;
        top: -2px;
        color: #FFF !important;
        font-size: 14px;
    }

    .icons {
        font-size: 17px !important;
        // margin-left: 5px;
        // margin-right: 5px;
        margin-left: 15px;
        margin-right: 15px;
    }

    button {
        background-color: transparent !important;
    }

}




.info-container {
    padding: 3vh 0 0 0vw;
    margin-top: 49px;
    display: block;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    margin-left: 10px;

    p {
        margin: 0px;
        text-align: left;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
    }

    .name-container {
        font-size: 16px;
        font-weight: bold;
        text-transform: capitalize;        
        width: 100% !important;
        color: white;
    }

    .email-container {
        font-size: 13px;
        width: 100% !important;
        // font-weight: 600;
        color: white !important;

    }
}

.difault-form {
    position: relative;

    .item {
        padding: 0;
        background: none;

        .text-input {
            font-weight: 300;
            font-size: 1.3rem;
            border: none;
        }
    }

    .list {
        border: none !important;

        .item-input {
            border: none !important;
            min-height: 4rem;
        }

        .item-block {
            .item-inner {
                box-shadow: none !important;
                border: none !important;
                background: #fff;
                border-radius: 5px;
                margin: 10px 0 0;
                padding-left: 10px;
            }
        }

        .text-input-wp {
            margin: 5px 8px;
        }
    }

    .password {
        position: absolute;
        z-index: 99;
        color: #ffae00;
        right: 18px;
        margin-top: -3rem;
        font-size: 1.3rem;
    }
}

.animated {
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.delay-1 {
    animation-delay: 100ms;
}

.delay-2 {
    animation-delay: 200ms;
}

.delay-3 {
    animation-delay: 300ms;
}

.delay-4 {
    animation-delay: 400ms;
}

.delay-5 {
    animation-delay: 500ms;
}

.delay-6 {
    animation-delay: 600ms;
}

.delay-7 {
    animation-delay: 700ms;
}

.delay-8 {
    animation-delay: 800ms;
}

.delay-9 {
    animation-delay: 900ms;
}

.delay-10 {
    animation-delay: 1000ms;
}

.delay-11 {
    animation-delay: 1100ms;
}

.delay-12 {
    animation-delay: 1200ms;
}

.delay-13 {
    animation-delay: 1300ms;
}

.delay-14 {
    animation-delay: 1400ms;
}

.delay-15 {
    animation-delay: 1500ms;
}

.delay-16 {
    animation-delay: 1600ms;
}

.delay-17 {
    animation-delay: 1700ms;
}

.delay-18 {
    animation-delay: 1800ms;
}

.delay-19 {
    animation-delay: 1900ms;
}

.delay-20 {
    animation-delay: 2000ms;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}