<!-- <ion-nav [root]="rootPage"></ion-nav> -->

<ion-menu [content]="mycontent" side="right" *ngIf="platform.dir() === 'rtl'" menuId="first" class="side-menu">
    <ion-content class="menu-container">
        <div class="logo-container">
            <!-- <img class="logo" src="assets/imgs/logo.png"> -->
        </div>
        <div class="userContainer" *ngIf="user && user.stylist">
            <div *ngIf="user.stylist.image" class="img-container"><img class="user-img" [src]="user.stylist.image"></div>
            <div *ngIf="!user.stylist.image" class="img-container"><img class="user-img" src="assets/imgs/signup_male.png">
            </div>
            <div class="info-container">
                <div *ngIf="user.stylist.name" class="name-container">
                    <p>{{user?.stylist.name}}</p>
                </div>
                <div *ngIf="user.stylist.phone" class="email-container">
                    <p>{{user.stylist.phone}}</p>
                </div>
            </div>
            
        </div>

        <hr>

        <ion-list class="menu-list">
            <button ion-item small icon-left menuClose no-lines (click)="toPage('1')" detail-none>
                <ion-icon class="icons" name="custom-home-icon" color="primary"></ion-icon>
                <span>{{'Home' | translate}}</span>
            </button>
            <button ion-item small icon-left menuClose no-lines (click)="toPage('2')" detail-none>
                <ion-icon class="icons" name="custom-about" color="primary"></ion-icon>
                <span>{{'MyOrders' | translate}}</span>
            </button>
            <button ion-item small icon-left menuClose no-lines (click)="toPage('3')" detail-none>
                <ion-icon class="icons" name="custom-profile-menu" color="primary"></ion-icon>
                <span>{{'UpdateProfile' | translate}}</span>
            </button>
            <button ion-item small icon-left menuClose no-lines (click)="logOut()" detail-none>
                <ion-icon class="icons" name="custom-logout" color="primary"></ion-icon>
                <span>{{'Logout' | translate}}</span>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-menu [content]="mycontent" side="left" *ngIf="platform.dir() === 'ltr'" menuId="first" class="side-menu">
    <ion-content class="menu-container">
        <div class="logo-container">
            <!-- <img class="logo" src="assets/imgs/logo.png"> -->
        </div>
        <diV class="userContainer" *ngIf="user && user.stylist">
            <div *ngIf="user?.stylist.image" class="img-container"><img class="user-img"  onError="src ='assets/imgs/signup_male.png'"  [src]="user?.stylist.image"></div>
            <div *ngIf="!user?.stylist.image" class="img-container"><img class="user-img" src="assets/imgs/signup_male.png">
            </div>

            <div class="info-container">
                <div *ngIf="user.stylist.name" class="name-container">
                    <p>{{user?.stylist.name}}</p>
                </div>
                <div *ngIf="user.stylist.phone" class="email-container">
                    <p>{{user?.stylist.phone}}</p>
                </div>
            </div>
        </diV>

        <hr>
        
        <ion-list class="menu-list">
            <button ion-item small icon-left menuClose (click)="toPage('1')" detail-none>
                <ion-icon class="icons" name="custom-home-icon" color="primary"></ion-icon>
                <span>{{'Home' | translate}}</span>
            </button>
            <button ion-item small icon-left menuClose (click)="toPage('2')" detail-none>
                <ion-icon class="icons" name="custom-about" color="primary"></ion-icon>
                <span>{{'MyOrders' | translate}}</span>
            </button>
            <button ion-item small icon-left menuClose (click)="toPage('3')" detail-none>
                <ion-icon class="icons" name="custom-profile-menu" color="primary"></ion-icon>
                <span>{{'UpdateProfile' | translate}}</span>
            </button>
            <button ion-item small icon-left menuClose (click)="logOut()" detail-none>
                <ion-icon class="icons" name="custom-logout" color="primary"></ion-icon>
                <span>{{'Logout' | translate}}</span>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav #mycontent [root]="rootPage"></ion-nav>