page-update-profile {
    .content{
        background: white;
    }
    .profile-container {
        width: 40vh;
        margin: auto;
        margin-top: 5vh;
    }

    .image-container {
        margin: auto;
        width: fit-content;
        position: relative;

        .profile-image {
            border-radius: 50%;
            height: 100px;
            width: 100px;
            border: 5px solid #F2E5D2;
        }

        .camerabtn {
            position: absolute !important;
            background-color: color($colors, ternary);
            width: 35px;
            height: 35px;
            border-radius: 50%;
            opacity: 0.7;
            top: 30px;
            right: -17px;

            .icon {
                color: white;
            }
        }
    }

        .data-container {
            height: 26vw;
            text-align: center;

            p {
                margin: 0px;
            }

            .name-container {
                font-size: 20px;
                font-weight: bold;
                color: black;
                margin-top: 10px;
            }

            .mail-container {
                font-size: 18px;
                color: #424242 !important;
                opacity: 0.5 !important;
            }
        }

        .edit {
            margin-top: 35px !important;

            .item-inner {
                padding: 0px;
                border-bottom: 0px;
            }

            .item {
                background-color: #303030;
                width: 80% !important;
                display: block;
                min-height: 42px;
                height:42px;
                margin: auto;
                margin-top: 10px;
                border-radius: 26px;
                // opacity: 0.9;
                color: #707070;
            }

            .list .item-input {
                ::placeholder {
                    color: #707070;
                    opacity: 0.5 !important;
                    text-align: left;
                    font-weight: bold;
                    font-size: 16px;
                }
            }

            .update-button {
                width: 40%;
                margin: auto;
                margin-top: 25px;
                border-radius: 30px;
                background-color: color($colors, ternary);
            }
        }

     



}