<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="primary" name="ios-menu-outline"></ion-icon>
    </button>

    <ion-title>
      <img src="assets/imgs/logo.png">
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding class="content">


    <div class="profile-container" *ngIf="ready">
        <div class="image-container">
            <!-- <img *ngIf="!hasimage()" class="profile-image" src="assets/imgs/signup_female.png"> -->
            <!-- <img *ngIf="hasimage()" class="profile-image" [src]="user.image"> -->
            <div *ngIf="!user.image">
                <img class="profile-image" *ngIf="!(displayImage.length > 1)" src="assets/imgs/signup_male.png">
                <img class="profile-image" *ngIf="displayImage.length > 1" [src]="displayImage">
            </div>
            <div *ngIf="user.image">
                <img class="profile-image" *ngIf="!(displayImage.length > 1)" [src]="user.image">
                <img class="profile-image" *ngIf="displayImage.length > 1" [src]="displayImage">
            </div>
            <button ion-button clear icon-only class="camerabtn" (tap)="getPhoto()">
                <ion-icon name="ios-camera-outline"></ion-icon>
            </button>
        </div>

        <div class="data-container">
            <div class="name-container">
                <p>{{user.name}}</p>
            </div>
            <div class="mail-container">
                <p>{{user.phone}}</p>
            </div>

        </div>

    </div>
  <form  *ngIf="ready" [formGroup]="updateForm" (ngSubmit)="update()">
    <ion-list  class="edit">

      <ion-item class="item">
        <ion-input type="text" placeholder="{{'name' | translate}}" formControlName="name" value="{{user.name}}">
        </ion-input>
      </ion-item>

      <ion-item class="item">
        <ion-input type="password" placeholder="{{'Password' | translate}}" formControlName="password"
          value="{{user.password}}"></ion-input>
      </ion-item>

      <ion-item class="item">
        <ion-input type="number" placeholder="{{'Phone' | translate}}" formControlName="phone" value="{{user.phone}}">
        </ion-input>
      </ion-item>

      <ion-item class="item">
        <ion-input type="text" placeholder="{{'userName' | translate}}" formControlName="userName"
          value="{{user.userName}}"></ion-input>
      </ion-item>

      <!-- <ion-item class="item">
          <ion-input type="email" placeholder="{{'email' | translate}}" formControlName="email" value="{{user.email}}"></ion-input>
        </ion-item> -->

      <!-- <ion-item class="item">
          <ion-select class="gender-select"  formControlName="gender" [(ngModel)]="user.gender">
              <ion-option  value="Female">{{'Female' | translate}} </ion-option>
            <ion-option   value="Male">{{'Male' | translate}}</ion-option>
           
        </ion-select> -->
      <!-- </ion-item> -->

      <button ion-button  full class="btn bg-theme update-button" (tap)="update()">{{'Update' | translate}}</button>
    </ion-list>
  </form>


</ion-content>