<ion-content class="bg-color" padding>
  <div padding>
    <div class="logo bg-white fadeInUp animated delay-1" text-center>
      <figure class="Header-Name"> <img src="assets/imgs/logo.png"></figure>
      <!-- <div class="Header-Name">Glam & Go</div> -->
    </div>
    <!-- <h2 class="heading text-white fadeInUp animated delay-2" text-center>Register now</h2> -->
    <div class="form-container">

      <form [formGroup]="regesterForm" (ngSubmit)="onRegester()">
        <div class="difault-form">
          <ion-list>
            <ion-item class="fadeInUp animated delay-3">
              <ion-input formControlName="userName" type="text" placeholder="{{'Username'}}"></ion-input>
            </ion-item>
            <div class="error-box" *ngIf="regesterForm.controls['userName'].hasError('required') && regesterForm.controls['userName'].touched">
              * {{'Usernameisrequired' | translate}}</div>
            <div class="error-box" *ngIf="regesterForm.controls['userName'].hasError('maxlength') && regesterForm.controls['userName'].touched">
              * {{'Usernamecannotexceed20digits' | translate}}</div>
            <div class="error-box" *ngIf="regesterForm.controls['userName'].hasError('minlength') && regesterForm.controls['userName'].touched">
              * {{'Usernamecannotbelessthan4digits' | translate}}</div>
            <!-- <ion-item class="fadeInUp animated delay-4">
              <ion-input formControlName="email" type="email" placeholder="Email address"></ion-input>
            </ion-item>
            <div class="error-box" *ngIf="regesterForm.controls['email'].hasError('required') && regesterForm.controls['email'].touched">
              * {{'Emailisrequired' | translate}}</div>
            <div class="error-box" *ngIf="regesterForm.controls['email'].hasError('pattern') && regesterForm.controls['email'].touched">
              * {{'Invalidemailaddressformat' | translate}} </div> -->

            <ion-item class="fadeInUp animated delay-5">
              <ion-input formControlName="phone" type="number" placeholder="{{'Phone' | translate}}"></ion-input>
            </ion-item>
            <div class="error-box" *ngIf="regesterForm.controls['phone'].hasError('required') && regesterForm.controls['phone'].touched">
              * {{'Phonenumberisrequired' | translate}}</div>
            <div class="error-box" *ngIf="regesterForm.controls['phone'].hasError('maxlength') && regesterForm.controls['phone'].touched">
              * {{'Phonenumbercannotbemorethan11digits' | translate}}</div>
            <div class="error-box" *ngIf="regesterForm.controls['phone'].hasError('minlength') && regesterForm.controls['phone'].touched">
              * {{'Phonenumbercannotbelessthan11digits' | translate}}.</div>


            <ion-item class="fadeInUp animated delay-6">
              <ion-input formControlName="password" type="password" placeholder="{{'Password' | translate}}"></ion-input>
            </ion-item>
            <div class="error-box" *ngIf="regesterForm.controls['password'].hasError('required') && regesterForm.controls['password'].touched">
              * {{'Passwordisrequired' | translate}} </div>
            <div class="error-box" *ngIf="regesterForm.controls['password'].hasError('minlength') && regesterForm.controls['password'].touched">
              * {{'Passwordcannotbelessthan6digits' | translate}}</div>

            <ion-item class="fadeInUp animated delay-7">
              <ion-input formControlName="passwordConfirm" type="password" placeholder="{{'ConfirmPassword' | translate}}">
              </ion-input>
            </ion-item>
            <div class="error-box" *ngIf="regesterForm.get('passwordConfirm').hasError('required') && regesterForm.get('passwordConfirm').touched">
              * {{'Passwordconfirmarionisrequired' | translate}}
            </div>
            <div class="error-box" *ngIf="regesterForm.get('passwordConfirm').hasError('equalTo') && regesterForm.get('passwordConfirm').touched">
              * {{'Passowddoesnotmatch' | translate}}
            </div>
            <br>
            <button [disabled]="!regesterForm.valid" ion-button full class="btn bg-theme fadeInUp animated delay-6 login-button" type="submit">{{'Registernow' | translate}}</button>
            <p text-center class="text-white fadeInUp animated delay-7">Already have an account? <strong (tap)="signin()">{{'Signin' | translate}}</strong></p>
          </ion-list>
        </div>
      </form>
    </div>
  </div>
</ion-content>