page-order-details {
    .content {
        // background-image: url('../assets/imgs/bg.png') !important;
    }

    .content-ios,
    .content-md {
        // background-color: transparent;
        // background-image: url('../assets/imgs/bg.png') !important;
        background-color: #FFFFFF;

    }

    // .title {
    //     position: absolute;
    //     left: 50%;
    //     top: 0;
    //     -webkit-transform: translateX(-50%);
    //     transform: translateX(-50%);
    //     height: 100%;
    //     text-align: center;
    //     font-weight: bold !important;

    //     img {
    //         width: 60px;
    //     }
    // }

    .card {
        border-radius: 10px;
        background-color: white
    }

    .image-container {
        margin: auto;
        width: fit-content;

        .profile-image {
            border-radius: 30rem;
            width: 95px;
            height: 95px;
            margin-bottom: 20px;
            border: 4px solid #F2E5D2;

        }
    }



    .no-order {
        font-size: 7vw;
        // margin: 7vh 7vw 7vw 7vw;
        text-align: center;
        color: color($colors, secondary);

        h4 {
            margin-top: -80px;
            padding-left: 10px;
            padding-right: 10px;

        }
    }

    .card {
        border-radius: 10px !important;
    }


    .date-container {
        padding: 0 0 2vh 3vw;
        font-size: 1.6rem;
        color: black;
        display: block;
        width: 95%;
        margin-top: 15px;

        p {
            margin: 0px;
        }

        .date {
            p {
                @include ltr {
                    margin-left: auto;
                    margin-right: 10px;
                }

                @include rtl {
                    margin-right: 10px;
                    margin-left: auto;
                    ;
                }
            }
        }

        .time {
            p {
                margin-top: 10px;

                @include ltr {
                    margin-left: auto;
                    margin-right: 10px;
                }

                @include rtl {
                    // margin-right: auto;
                    margin-right: 10px;

                }
            }
        }
    }


    .name {
        color: black;

        p {
            font-size: 16px;

            @include ltr {
                text-align: left;
            }

            @include rtl {
                text-align: right;
            }

            span {
                font-weight: bold;
            }
        }

    }

    .address {
        margin-top: 15px !important;
        color: black;

        p {
            font-size: 16px;

            @include ltr {
                text-align: left;
            }

            @include rtl {
                text-align: right;
            }
            span {
                font-weight: bold;
            }
        }
    }

    .button-container {
        text-align: center;
        margin-top: 40px;

        .location-button {
            margin: 0 7vw 0 7vw;
            border-radius: 50%;
            font-size: 13px;
            width: 40px;
            height: 40px;
            background-color: #E0C389;
        }

        .call-button {
            margin: 0 7vw 0 7vw;
            border-radius: 50%;
            font-size: 13px;
            width: 40px;
            height: 40px;
            background-color: #E0C389;
        }

        .icon {
            color: #424242;
        }

    }

    .item {
        border-radius: 15px;

        height: 100px;
        width: 100% !important;
        margin: 0px !important;
        display: block;
        margin: auto !important;
        // margin-top: 10px !important;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        margin-top: 15px !important;
        border-radius: 10px !important;
        background-color: #3e3c3d;

        img {
            @include ltr {
                float: left !important;
                margin-right: 10px;
            }

            @include rtl {
                float: right !important;
                margin-left: 10px;
            }

            background-color: #231f20;
            height: 100%;
            width: 100px !important;
            display: block;
            // margin: auto;
            border-radius: 10px !important;
        }

        .item-name {
            margin-top: 10px;

            p {
                color: color($colors, primary);

                @include ltr {
                    text-align: left;
                }

                @include rtl {
                    text-align: right !important;
                    margin-right: 5px;
                }
            }
        }

        .item-quant {
            margin-top: 10px;

            p {
                color: color($colors, primary);

                @include ltr {
                    text-align: left;
                }

                @include rtl {
                    text-align: right !important;
                    margin-left: auto !important;
                    margin-right: 5px;
                }
            }
        }


        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .total-price {
        margin-top: 15px;
        font-weight: bold;
        color: black;
        font-size: 17px;
        margin-bottom: 20px;

        @include rtl {
            text-align: left;
            margin-left: 10px;
            margin-right: auto;
        }

        @include ltr {
            text-align: right;
            margin-right: 10px;
            margin-left: auto;

        }
    }

    .items-container {
        height: 50vw;
    }



    .change-status-container {
        margin-top: 40px;
        margin-bottom: 30px;


        .status-button {
            font-size: 15px;
            display: block;
            margin: auto !important;
            // height: 100px;
            // border: solid thick #f9a618;
            background: #E0C389;
            color: white;
            border-radius: 26px;
            width:50%;
            font-weight: bold;
        }
    }

    .cardCont {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        border-radius: 11px;
        border: 0.25px solid #707070;
        width: 100%;
        margin: auto !important;
        margin-top: 15px !important;
        .itemInfo {
            width: 90% !important;
            margin-left: 10px;
            margin-right: 10px;
            #itemDesc {
                color: black !important;
            }
        }

        h3 {
            font-size: 16px;
            // font-weight: bold;
        }

        p {
            margin-top: 5px;
        }

        .addBtn {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: block;
            margin-right: 10px;
            margin-left: auto;
            border: 1.5px solid #E0C389;
            margin-top: auto;
            margin-bottom: auto;

            .icon {
                font-size: 20px;
                font-weight: bold;
            }
        }

        .checkBtn {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: block;
            margin-right: 10px;
            margin-left: auto;
            background-color: #E0C389;
            margin-top: auto;
            margin-bottom: auto;

            .icon {
                font-size: 20px;
                font-weight: bold;
                color: white !important;
            }
        }
    }

}