page-order-details {
    .content {
        background-image: url('../assets/imgs/bg.png') !important;
    }

    .content-ios,
    .content-md {
        background-color: transparent;
        background-image: url('../assets/imgs/bg.png') !important;
    }

    // .title {
    //     position: absolute;
    //     left: 50%;
    //     top: 0;
    //     -webkit-transform: translateX(-50%);
    //     transform: translateX(-50%);
    //     height: 100%;
    //     text-align: center;
    //     font-weight: bold !important;

    //     img {
    //         width: 60px;
    //     }
    // }

    .card {
        border-radius: 10px;
        background-color: color($colors, secondary);
    }

    .image-container {
        margin: auto;
        width: fit-content;

        .profile-image {
            border-radius: 30rem;
            width: 95px;
            height: 95px;
            margin-bottom: 20px;
            border: 2px solid color($colors, light);

        }
    }



    .no-order {
        font-size: 7vw;
        // margin: 7vh 7vw 7vw 7vw;
        text-align: center;
        color: color($colors, secondary);

        h4 {
            margin-top: -80px;
            padding-left: 10px;
            padding-right: 10px;

        }
    }

    .card {
        border-radius: 10px !important;
    }


    .date-container {
        padding: 0 0 2vh 3vw;
        font-size: 1.6rem;
        color: color($colors, primary);
        display: block;
        width: 95%;
        margin-top: 15px;

        p {
            margin: 0px;
        }

        .date {
            p {
                @include ltr {
                    margin-left: auto;
                    margin-right: 10px;
                }

                @include rtl {
                    margin-right: 10px;
                    margin-left: auto;
                    ;
                }
            }
        }

        .time {
            p {
                margin-top: 10px;

                @include ltr {
                    margin-left: auto;
                    margin-right: 10px;
                }

                @include rtl {
                    // margin-right: auto;
                    margin-right: 10px;

                }
            }
        }
    }


    .name {
        text-align: center;
        color: color($colors, light);

    }

    .address {
        text-align: center;
        margin-bottom: 10px;
        color: color($colors, light);
    }

    .button-container {
        text-align: center;
        margin-top: 20px;

        .location-button {
            margin: 0 7vw 0 7vw;
            border-radius: 50%;
            font-size: 13px;
            width: 40px;
            height: 40px;
            background-color: color($colors, light);
        }

        .call-button {
            margin: 0 7vw 0 7vw;
            border-radius: 50%;
            font-size: 13px;
            width: 40px;
            height: 40px;
            background-color: color($colors, light);
        }


    }

    .item {
        border-radius: 15px;

        height: 100px;
        width: 100% !important;
        margin: 0px !important;
        display: block;
        margin: auto !important;
        // margin-top: 10px !important;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        margin-top: 15px !important;
        border-radius: 10px !important;
        background-color: #3e3c3d;

        img {
            @include ltr {
                float: left !important;
                margin-right: 10px;
            }

            @include rtl {
                float: right !important;
                margin-left: 10px;
            }

            background-color: #231f20;
            height: 100%;
            width: 100px !important;
            display: block;
            // margin: auto;
            border-radius: 10px !important;
        }

        .item-name {
            margin-top: 10px;

            p {
                color: color($colors, primary);

                @include ltr {
                    text-align: left;
                }

                @include rtl {
                    text-align: right !important;
                    margin-right: 5px;
                }
            }
        }

        .item-quant {
            margin-top: 10px;

            p {
                color: color($colors, primary);

                @include ltr {
                    text-align: left;
                }

                @include rtl {
                    text-align: right !important;
                    margin-left: auto !important;
                    margin-right: 5px;
                }
            }
        }


        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .total-price {
        margin-top: 15px;
        font-weight: bold;
        color: color($colors, primary);
        font-size: 17px;
        margin-bottom: 20px;
        @include rtl {
            text-align: left;
            margin-left: 10px;
            margin-right: auto;
        }

        @include ltr {
            text-align: right;
            margin-right: 10px;
            margin-left: auto;

        }
    }

    .items-container {
        height: 50vw;
    }



    .change-status-container {
        margin-top: 20px;
        margin-bottom: 20px;


        .status-button {
            font-size: 15px;
            display: block;
            margin: auto !important;
            height: 100px;
            border: solid thick #f9a618;
            background: transparent;
            color: #f1e2c8;
            border-radius: 50% !important;
            width: 100px;
            white-space: normal;
            box-shadow: 0 0 8px 0px #f9a618;
        }
    }

}