<ion-header no-border text-center>
  <ion-navbar color="white">
    <button ion-button menuToggle>
      <ion-icon color="primary" name="ios-menu-outline"></ion-icon>
    </button>

    <ion-title>
      <img src="assets/imgs/logo.png">
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content no-padding scrollY="false">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>

  </ion-card>
  <!-- <ion-list *ngIf="ready" class="orders-list">
        <ion-item *ngFor="let item of  orders" (tap)="toDetails(item)">
            <div class="order-address">Address : {{item.address}}</div>
            <div class="order-date-time">Order Time :  {{item.orderDate  | date :'shortTime' }}</div>
            <div class="order-date-day">Order Day :  {{item.orderDate  | date :'shortDate' }}</div>
        </ion-item>
    </ion-list> -->
  <div *ngIf="!ready" class="no-order">
    <img src="./assets/imgs/empty_white.png">
    <h4>{{'NoOrdersAssignedToYou' | translate}}</h4>
  </div>

  <div *ngIf="ready">

    <div class="date-container">
      <div class="date">
        <p>{{'Ordered' | translate}}: {{order_details.orderDate | date : 'mediumDate' }}</p>
      </div>
      <div class="time">
        <p>{{'At' | translate}}: {{order_details.orderDate | date : 'shortTime' }} </p>
      </div>
    </div>
    <ion-card>
      <ion-card-header>{{'CustomerInfo' | translate}}: </ion-card-header>
      <ion-card-content>
        <div class="image-container">
          <img  class="profile-image" src="assets/imgs/signup_female.png">
          
          <!-- <img *ngIf="order_details.customerImage != 'undefined'"  class="profile-image" [src]="order_details.customerImage"> -->
        </div>
        <div class="name"><p><span>{{'Customername' | translate}}: </span>{{order_details.customerName}}</p></div>
        <div class="address"><p><span>{{'Customeraddress' | translate}}: </span>{{order_details.address}}</p></div>
        <div *ngIf="canCommunicate" class="button-container">

          <button ion-button icon-only class="location-button"
            (click)="navToCustomerPos(order_details.lat,order_details.long)">
            <ion-icon name="ios-pin"></ion-icon>
          </button>
          <button ion-button icon-only (tap)="makeCall()" class="call-button">
            <ion-icon class="call-icon" name="md-call"></ion-icon>
          </button>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>{{'Items' | translate}}: </ion-card-header>
      <ion-card-content>
        <!-- <ion-scroll scrollY="true" class="items-container"> -->
        <!-- <ion-item class="item" *ngFor="let item of orderItems">
          <img src="./assets/imgs/icon.png">
          <div class="item-name">Item name: {{item.productName}}</div>
          <div class="item-quant">Item price: {{item.cost}} LE</div>
        </ion-item> -->
        <!-- <ion-card *ngFor="let item of orderItems" class="item">
          <img src="./assets/imgs/icon.png">
          <div class="item-name">
            <p>{{'Itemname' | translate}}: {{item.productName}}</p>
          </div>
          <div class="item-quant">
            <p>{{'Itemprice' | translate}}: {{item.cost}} {{'LE' | translate}}</p>
          </div> -->

          <ion-card *ngFor="let item of orderItems" class="cardCont">
            <div class="itemInfo">
                <h3>{{item.productName}}</h3>
                <p  id="itemDesc">{{item.description}}</p>
                <p >{{item.cost}} {{'LE' | translate}}</p>
            </div>
          <!-- <div class="item-quant">
            <p>{{'ItemQuan' | translate}}: {{item.quan}}</p>
          </div> -->
        </ion-card>

        <!-- </ion-scroll> -->
      </ion-card-content>
    </ion-card>

    <div class="total-price">{{'TotalPrice' | translate}} : {{totalPrice}} {{'LE' | translate}}</div>

    <div *ngIf="order_details.orderStatusId == '3' " class="change-status-container">
      <button class="status-button" ion-button (tap)="changeStatus()">{{'StartMoving' | translate}}</button>
    </div>

    <div *ngIf="order_details.orderStatusId == '7' " class="change-status-container">
      <button class="status-button" ion-button (tap)="changeStatus()">{{'Arrived' | translate}}</button>
    </div>

    <div *ngIf="order_details.orderStatusId == '5' " class="change-status-container">
      <button class="status-button" ion-button class="status-button" (tap)="openWallet()">{{'Done' | translate}}</button>
    </div>

    <!-- <div class="customer-container">
      <div class="info-container">
        <div class="customer-name">{{order.customerName}}</div>
        <div class="customer-phone">{{order.customerPhone}}</div>
      </div>
        <div class="call-button-container"><button class="call-button" ion-button icon-only (tap)="makeCall()"><ion-icon class="call-icon" name="md-call"></ion-icon></button></div>
      </div>
   <ion-scroll scrollY="true" class="item-scroll">
  <ion-list class="item-list">
    <ion-item class="item-container" *ngFor="let item of orderItems">
      <div class="name">{{item.productName}}</div>
      <div class="price">{{item.cost}} LE</div>
    </ion-item>
  </ion-list>
</ion-scroll>
  <div class="total-price">Total Price : {{order.totalPrice}} LE</div>
  <div class="address">
    address : {{order.address}}
  </div>
  
  <div  *ngIf="order.orderStatusId == '1' "  class="change-status-container">
    <button ion-button (tap)="changeStatus()">Accept</button>
  </div>

  <div *ngIf="order.orderStatusId == '3' " class="change-status-container">
    <button ion-button (tap)="changeStatus()">Arrived</button>
  </div>
  
  <div *ngIf="order.orderStatusId == '5' " class="change-status-container">
    <button ion-button class="status-button" (tap)="changeStatus()">Done</button>
  </div> -->







  </div>
  <!-- <ion-fab bottom right (click)="logOut()">
    <button ion-fab>
      <ion-icon color="third" name="log-out"></ion-icon>
    </button>
  </ion-fab> -->


</ion-content>